
SkillsCub/\.vs/

SkillsCub/SkillsCub\.MVC/obj/

SkillsCub/SkillsCub\.AuthService/obj/

SkillsCub/SkillsCub\.MVC/bin/

SkillsCub/SkillsCub\.EmailSenderService/bin/

SkillsCub/SkillsCub\.EmailSenderService/obj/

SkillsCub/SkillsCub\.DataLibrary/bin/

SkillsCub/SkillsCub\.DataLibrary/obj/

SkillsCub/SkillsCub\.TelegramLogger/obj/

SkillsCub/SkillsCub\.Utilities/bin/

SkillsCub/SkillsCub\.Utilities/obj/

SkillsCub/SkillsCub\.Models/bin/

SkillsCub/SkillsCub\.Models/obj/

SkillsCub/SkillsCub\.TelegramLogger/bin/

SkillsCub/SkillsCub\.MVC/appsettings\.json

SkillsCub/MegaNzService/bin/

SkillsCub/MegaNzService/obj/

SkillsCub/ContentTypeResolver/bin/

SkillsCub/ContentTypeResolver/obj/

SkillsCub/SkillsCub\.Core/bin/

SkillsCub/SkillsCub\.Core/obj/
