@model LoginViewModel
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>SkillsCub - Login</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="~/css/theme-default/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/css/theme-default/materialadmin.css" />
    <link type="text/css" rel="stylesheet" href="~/css/theme-default/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/theme-default/material-design-iconic-font.min.css" />
    <!-- END STYLESHEETS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/js/libs/utils/html5shiv.js"></script>
    <script type="text/javascript" src="~/js/libs/utils/respond.min.js"></script>
    <![endif]-->
</head>
<body class="menubar-hoverable header-fixed ">

    <!-- BEGIN LOGIN SECTION -->
    <section class="section-account">
        <div class="img-backdrop" style="background-image: url('/img/img16.jpg')"></div>
        <div class="spacer"></div>
        <div class="card contain-sm style-transparent">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form floating-label" asp-controller="Account" asp-action="Login" accept-charset="utf-8" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email">
                                <label for="email">E-mail</label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password">
                                <label for="password">Password</label>
                                <p class="help-block"><a asp-controller="Account" asp-action="ForgotPassword">Забыли пароль?</a></p>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <div class="checkbox checkbox-inline checkbox-styled">
                                        <label>
                                            <input asp-for="RememberMe" /> <span>Remember me</span>
                                        </label>
                                    </div>
                                </div><!--end .col -->
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-primary btn-raised" type="submit">Login</button>
                                </div><!--end .col -->
                            </div><!--end .row -->
                        </form>
                    </div><!--end .col -->
                </div><!--end .row -->
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
    <!-- END LOGIN SECTION -->
    <!-- BEGIN JAVASCRIPT -->
    <script src="~/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="~/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/libs/spin.js/spin.min.js"></script>
    <script src="~/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="~/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="~/js/core/source/App.js"></script>
    <script src="~/js/core/source/AppNavigation.js"></script>
    <script src="~/js/core/source/AppOffcanvas.js"></script>
    <script src="~/js/core/source/AppCard.js"></script>
    <script src="~/js/core/source/AppForm.js"></script>
    <script src="~/js/core/source/AppNavSearch.js"></script>
    <script src="~/js/core/source/AppVendor.js"></script>
    <script src="~/js/core/demo/Demo.js"></script>
    <!-- END JAVASCRIPT -->

    @await Html.PartialAsync("_ValidationScriptsPartial")

</body>

</html>

