@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<section>
    <div class="section-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    @*<h1><span class="text-xxxl text-light">404 <i class="fa fa-search-minus text-primary"></i></span></h1>*@
                    <h2 class="text-light">В данный момент вы не привязаны ни к какому курсу. </h2>
                </div><!--end .col -->
            </div>
        </div>
    </div>
</section>
