.decorated-link {
    text-decoration: underline;
    color: #00BCD4;
}

.centred-primary-btn {
    background-color: #e5e6e6;
    color: #03A9F4;
}

.padding-bottom-xxl {
    padding-bottom: 20px;

}
.padding-bottom-xxxl {
    padding-bottom: 30px;
}