@{
    ViewData["Title"] = "SKILLSCUB.БОНУС";
    Layout = "_Layout";
}

<section>
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-primary">@ViewData["Title"]</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="lead">
                    Цель специальной программы SkillsCub.Бонус — соединить людей, определившихся с желаемой профессией, и проекты (команды или компании), нуждающиеся в соответствующих специалистах.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 ">
                <p>
                    Совершенно БЕСПЛАТНО мы предоставляем такую возможность: получить практический опыт в выбранной профессии в виде стажировки в социальных и коммерческих проектах.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 ">
                <p class="text-bold">
                    Для участия необходимо:
                </p>
                <ul>
                    <li>указать в анкете участника SkillsCub™ о желании пройти программу (заполнить пункт 4. SkillsCub.Бонус);</li>
                    <li>завершить Симулятор профессий SkillsCub™ по данной профессии;</li>
                    <li>успешно выполнить тестовые задания на определение уровня знаний и умений в выбранной профессии.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 ">
                <p>
                    Пройти программу SkillsCub.Бонус можно в любой момент после завершения Симулятора профессий SkillsCub™.
                </p>
                <p>
                    Для получения тестовых заданий Вам необходимо связаться с нами и сообщить о своем желании методисту.
                </p>

            </div>
        </div>
    </div>
</section>