@{
    ViewData["Title"] = "Home Page";
}

<section class="full-bleed style-info">
    <div class="section-body contain-lg text-center force-padding ">
        <div class="img-backdrop" style="background:linear-gradient(rgba(13, 60, 85, 0.8), rgba(13, 60, 85, 0.8)),
    url(http://skillscub.com/wp-content/themes/llorix-one-lite/images/background-images/background.jpg);"></div>
        <div class="row padding-bottom-xxl">
            <div class="col-xs-12 col-md-10 col-md-offset-1 padding-bottom-xxxl  text-shadow">
                <img src="http://skillscub.suboteka.info/wp-content/uploads/2017/06/logo-for-site2.png" alt="">
                <h1 class="text-center">SkillsCub</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu metus volutpat, congue magna at, interdum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus feugiat facilisis ipsum, sed blandit velit. Mauris eu lobortis lorem. Vivamus varius eu magna a ullamcorper. Aenean sed turpis purus. Curabitur in diam quam. Sed at libero magna. Maecenas pharetra ornare diam, vitae interdum eros mollis in.
                </p>

            </div>
            <div class="col-xs-12 text-center padding-bottom-xxxl">
                <a asp-controller="Request" asp-action="Index" class="btn ink-reaction btn-raised btn-lg centred-primary-btn">Подать заявку</a>
            </div>
        </div>
    </div>
</section>
<section class="full-bleed style-danger">
    <div class="section-body contain-lg text-center force-padding ">
        <div class="row padding-bottom-xxl text-shadow">
            <div class="col-xs-12 col-md-10 col-md-offset-1 padding-bottom-xxl">
                <h2>
                    Не знаете с чего начать?
                </h2>
                <p class="lead">
                    <i>
                        Пройдите экспресс тест и узнайте, какие профессии вам подходят!
                    </i>
                </p>
            </div>
        </div>
        <div class="row padding-bottom-xxxl">
            <div class="col-xs-12">
                <a asp-controller="Request" asp-action="Index" class="btn ink-reaction btn-raised btn-lg centred-primary-btn">Пройти тест</a>
            </div>
        </div>
    </div>
</section>
<section class="full-bleed style-accent-dark">
    <div class="section-body contain-lg text-center force-padding ">
        <div class="row padding-bottom-xxl text-shadow">
            <div class="col-xs-12 col-md-10 col-md-offset-1 padding-bottom-xxl">
                <h2>
                    Наши гарантии
                </h2>
                <p class="lead">
                    <i>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu metus volutpat, congue magna at, interdum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus feugiat facilisis ipsum, sed blandit velit. Mauris eu lobortis lorem. Vivamus varius eu magna a ullamcorper. Aenean sed turpis purus. Curabitur in diam quam. Sed at libero magna. Maecenas pharetra ornare diam, vitae interdum eros mollis in.
                    </i>
                </p>
            </div>
            <div class="col-md-10 col-md-offset-1 padding-bottom-xxl">
                <div class="col-xs-12 col-md-2">
                    <img src="svg/shield.svg" style="width: 100%" />
                </div>
                <div class="col-xs-12 col-md-2 col-md-offset-3">
                    <img src="svg/shield.svg" style="width: 100%" />
                </div>
                <div class="col-xs-12 col-md-2 col-md-offset-3">
                    <img src="svg/shield.svg" style="width: 100%" />
                </div>
            </div>
        </div>
        <div class="row padding-bottom-xxxl">
            <div class="col-xs-12">
                <a asp-controller="Request" asp-action="Index" class="btn ink-reaction btn-raised btn-lg centred-primary-btn">Лицензионное соглашение</a>
            </div>
        </div>
    </div>
</section>
<section class="full-bleed style-gray">
    <div class="section-body contain-lg force-padding ">
        <div class="row  text-center padding-bottom-xxl text-shadow">
            <div class="col-xs-12 margin-bottom-xxl">
                <h2>
                    Почему мы?
                </h2>
            </div>
        </div>
        <div class="row padding-bottom-xxxl">
            <div class="col-xs-12 col-md-10 col-md-offset-1 margin-bottom-xxl">
                <ul class="timeline collapse-lg timeline-hairline">
                    <li>
                        <div class="timeline-circ circ-xl style-primary"><i class="md md-info"></i></div>
                        <div class="timeline-entry">
                            <div class="card style-default-bright">
                                <div class="card-body small-padding">
                                    <h4>Только с нами вы можете попробовать профессию и нарабатывать своё портфолио!</h4>
                                </div><!--end .card-body -->
                            </div><!--end .card -->
                        </div><!--end .timeline-entry -->
                    </li>
                    <li>
                        <div class="timeline-circ circ-xl style-accent"><i class="md md-info"></i></div>
                        <div class="timeline-entry">
                            <div class="card style-default-bright">
                                <div class="card-body small-padding">
                                    <h4>Только с нами вы можете попробовать профессию и нарабатывать своё портфолио!</h4>
                                </div><!--end .card-body -->
                            </div><!--end .card -->
                        </div><!--end .timeline-entry -->
                    </li>
                    <li>
                        <div class="timeline-circ circ-xl style-default-dark"><i class="md md-info"></i></div>
                        <div class="timeline-entry">
                            <div class="card style-default-bright">
                                <div class="card-body small-padding">
                                    <h4>Только с нами вы можете попробовать профессию и нарабатывать своё портфолио!</h4>
                                </div><!--end .card-body -->
                            </div><!--end .card -->
                        </div><!--end .timeline-entry -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>