@{
    ViewData["Title"] = "Home Page";
}

<section class="full-bleed style-info">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <h1>SkillsCub</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu metus volutpat, congue magna at, interdum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus feugiat facilisis ipsum, sed blandit velit. Mauris eu lobortis lorem. Vivamus varius eu magna a ullamcorper. Aenean sed turpis purus. Curabitur in diam quam. Sed at libero magna. Maecenas pharetra ornare diam, vitae interdum eros mollis in.
            </p>

        </div>
        <div class="col-xs-12 text-center margin-bottom-xxl">
            <a asp-controller="Request" asp-action="Index" class="btn ink-reaction btn-raised btn-lg centred-primary-btn">Подать заявку</a>
        </div>
    </div>
</section>
<section>
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-xs-12"></div>
        </div>
    </div>
</section>