@{
    ViewBag.Title = "Условия оплаты";
    Layout = "_Layout";
}


<section>
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-primary">@ViewData["Title"]</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 ">
                <p>Условия оплаты для участия в Симуляторе профессий SkillsCub™.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 ">
                <p>
                    <b>Инструкция:</b>
                </p>
            </div>
            <div class="col-xs-12 ">
                <p>
                    <b>1.</b> Для оформления заявки на участие в системе SkillsCub™ необходимо нажать «Подать заявку» на главной странице сайта, заполнить все поля формы и нажать «Отправить». Внимание! Оставляя заявку на сайте, Вы принимаете условия <a asp-area="" asp-controller="License" asp-action="Index">пользовательского соглашения</a>.
                </p>
            </div>
            <div class="col-xs-12 ">
                <p>
                    <b>2.</b> В течение одного рабочего дня  Вам на почту придет подтверждение о получении заявки и номер счета для оплаты.
                </p>
            </div>
            <div class="col-xs-12 ">
                <p>
                    <b>3.</b> Оплатить услуги SkillsCub™ Вы можете через систему ”Расчет“ (ЕРИП) в течение 5 (пяти) дней, в удобное для Вас время, в удобном для Вас пункте банковского обслуживания:.
                </p>
                <ul>
                    <li>интернет-банке,</li>
                    <li>с помощью мобильного банкинга,</li>
                    <li>инфокиоске,</li>
                    <li>кассе банков,</li>
                    <li>банкомате.</li>
                </ul>
                <p>
                    Совершить оплату можно с использованием наличных денежных средств, электронных денег и банковских платежных карточек. Если Вы осуществляете платеж в кассе банка, пожалуйста, сообщите кассиру о необходимости проведения платежа через систему ”Расчет“ (ЕРИП).
                </p>
                <p>
                    Стоимость полного пакета по одной профессии составляет <b>50 (пятьдесят) белорусских рублей</b>.
                </p>
            </div>
            <div class="col-xs-12 ">
                <p>
                    <b>4.</b> В течение суток после оплаты Вам придет анкета и дата консультации. Заполнить анкету необходимо в течение 3 (трех) дней с момента получения.
                </p>
                <p>Заявки принимаются круглосуточно.</p>
                <p>Справки по телефону:</p>
                <p>
                    <a href="tel:+375259187062">
                        +375 (25) 918-70-62
                    </a> c <b>10:00</b> до <b>18:00</b>
                </p>
            </div>
        </div>
    </div>
</section>
