@model List<SkillsCub.DataLibrary.Entities.Implementation.Course>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="section-body contain-lg">

    <!-- BEGIN INTRO -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-primary">Cards</h1>
        </div><!--end .col -->
        <div class="col-lg-8">
            <article class="margin-bottom-xxl">
                <p class="lead">
                    A card is a piece of paper that contains unique related data.
                    Cards are typically an entry point to more complex and detailed information.
                </p>
            </article>
        </div><!--end .col -->
    </div><!--end .row -->
    <!-- END INTRO -->
    <!-- BEGIN STYLING OPTIONS -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-primary">Styling options</h2>
        </div><!--end .col -->
        <div class="col-lg-8">
            <article class="margin-bottom-xxl">
                <p>
                    Cards can be formatted in different ways so that it best suits its content.
                    There are different styles available for this purpose which can be combined with each other.
                </p>
            </article>
        </div><!--end .col -->
    </div><!--end .row -->
    <div class="row">
        @foreach (var course in Model)
        {
            <div class="col-md-6">
                <div class="card">
                    <div class="card-head">
                        <header>@course.Name</header>
                    </div><!--end .card-head -->
                    <div class="card-body">
                        @course.Description
                        <a class="btn btn-default" asp-action="De" asp-route-id="@course.ID">Детали</a>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
        }
     
        <div class="col-md-6">
            <div class="card card-underline">
                <div class="card-head">
                    <header>Header</header>

                </div><!--end .card-head -->
                <div class="card-body">
                    <p>Ad ius duis dissentiunt, an sit harum primis persecuti, adipisci tacimates mediocrem sit et. Id illud voluptaria omittantur qui, te affert nostro mel. Cu conceptam vituperata temporibus has.</p>
                </div><!--end .card-body -->
            </div><!--end .card -->
            <em class="text-caption">Underlined Card</em>
        </div><!--end .col -->
    </div>
</div>